Source/bin/Debug/CableGuardian.vrmanifest
source/bin/debug/*.exe
source/bin/debug/*.xml
source/bin/debug/*.exe
source/bin/debug/*.wav
source/bin/debug/*.pdb
source/bin/debug/*.ghb
source/bin/debug/*.config
source/bin/debug/*.txt
source/bin/debug/*/*.pdn
source/bin/debug/CG*
source/bin/debug/CUSTOM*
source/bin/debug/default/sounds/CGP*
!source/bin/debug/default/sounds/CGP_Notif05.cga
!source/bin/debug/default/sounds/CGP_Bling.cga
source/bin/release/
source/obj
source/.vs
Source/CableGuardian.csproj.user
